 # Dependencies
  node_modules/
  venv/
  .gradle/

  # Build artifacts
  target/
  bin/
  obj/
  dist/

  # Environment & secrets
  .env
  *.secret

  # IDE & OS
  .DS_Store
  .idea/
  .vscode/
  *.swp
  *.iml

  # Python
  __pycache__/
  *.pyc
  EOF