KEYCLOAK_CLIENT_ID=python-client
KEYCLOAK_CLIENT_SECRET=JQirXa71brkzJytQlhlQinCXkR9IO8XK
KEYCLOAK_BASE_URL=https://auth.savvytechies.com
KEYCLOAK_REALM=utdallas-cs
FLASK_SECRET_KEY=change-this-to-a-random-secret
